body {
    background: #000000
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    perspective: 1000px;
}



.phone {
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    transform-style: preserve-3d;
    transform: perspective(100px);

    position: absolute;

}










.chip {
    width: 300px;
    transform: perspective(1000px);
    transform: translateZ(20px);
    height: auto;
  
}



.chip img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.chip:hover {
    transform: scale(1.1);
}



.custom-shape-divider-bottom-1608620639 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1608620639 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 240px;
}

.custom-shape-divider-bottom-1608620639 .shape-fill {
    fill: #FFFFFF;
}


body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  

   
    


body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}



@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
 }
 
 @font-face {
    font-family: myFirstFont;
    src: url(sansation_bold.woff);
    font-weight: bold;
 }
 
 * {
    font-family: myFirstFont;
 }

