body {
    background: #000000
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    perspective: 1000px;
}



.phone {
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    transform-style: preserve-3d;
    transform: perspective(100px);

    position: absolute;

}










.chip {
    width: 300px;
    transform: perspective(1000px);
    transform: translateZ(20px);
    height: auto;
  
}



.chip img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.chip:hover {
    transform: scale(1.1);
}



.custom-shape-divider-bottom-1608620639 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1608620639 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 240px;
}

.custom-shape-divider-bottom-1608620639 .shape-fill {
    fill: #FFFFFF;
}


body {
	background: linear-gradient(-45deg, #0004ff, #3c4de7, #23a6d5, #1b7dda);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  


body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

/*loader */

@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
 }
 
 @font-face {
    font-family: myFirstFont;
    src: url(sansation_bold.woff);
    font-weight: bold;
 }
 
 * {
    font-family: myFirstFont;
 }

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

.spinner-wrapper{
    width: 100%;
    height: 100%;
    background-color: #151515;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    position: relative;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.spinner::before,
.spinner:after{
    content: "";
    position: absolute;
    border-radius: 50%;
}

.spinner:before {
    width: 100%;
    height: 100%;
    background-image:linear-gradient(90deg, #0004ff 0%,#1b7dda 100% );
    animation: spin .5s infinite linear;
}
.spinner:after {
    width: 90%;
    height: 90%;
    background-color: #151515;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }

}

/*Simulate page content*/
.main-content{
    width: 100%;
    height: 100vh;
    background: url("https://github.com/ghatzz/comingsoonversus.github.io/blob/master/Phoenicopterus_ruber_in_S%C3%A3o_Paulo_Zoo.jpg?raw=true") center no-repeat;
    background-size: cover;
}



#demoFont {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 300px;
    letter-spacing: -1.2px;
    word-spacing: 2px;
    color: #00000081;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    position:fixed;
 }


 #cursor {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #ffffff;
    pointer-events: none;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    transform-origin: 80% 80%;
    transition: transform 0.5s ease-in-out;
    animation: borderAnim 4s linear infinite;
    animation-name: none;
    z-index: 10;
  }

  @keyframes borderAnim {
    0%,
    100% {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
    25%,
    75% {
      border-radius: 64% 36% 72% 28% / 35% 60% 40% 65%;
    }
    50% {
      border-radius: 46% 54% 38% 62% / 66% 38% 62% 34%;
    }
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
  }