body {
    background: #000000
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    perspective: 1000px;
}



.phone {
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transform-style: preserve-3d;
    position: absolute;

}










.chip {
    width: 300px;
    transform: translateZ(80px)
      
    
    
  
}


body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}